<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adatok felvitele</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rokoni kapcsolatok</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/relatives}">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/relatives/adatokfelvitele1}">Új rokon hozzáadása</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form th:action="@{/relatives/kapcsolat}" class=" border p-4 bg-light shadow" method="get">
                    <h4 class="mb-4">Rokoni kapcsolat</h4>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <select class="form-select" aria-label="Default select example" name="neki">
                                <option selected>Neki</option>
                                <option th:each="kapcsolat: ${kap}" th:text="${kapcsolat[0]}" th:value="${kapcsolat[1]}"></option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <select class="form-select" aria-label="Default select example" name="o">
                                <option selected>Ő</option>
                                <option th:each="kapcsolat: ${kap}" th:text="${kapcsolat[0]}" th:value="${kapcsolat[1]}"></option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <select class="form-select" aria-label="Default select example" name="valakije">
                                <option selected>Valakije - közvetlen</option>
<!--                                <option th:each="kapnev: ${kapnev}" th:text="${kapnev[0]}" th:value="${kapnev[0]}"></option>-->
                                <option th:each="kapnev: ${kapnev}" th:text="${kapnev[0]}" th:value="${kapnev[0]}"></option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <select class="form-select" aria-label="Default select example" name="valakije1">
                                <option selected>Valakije-közvetett</option>
                                <!--                                <option th:each="kapnev: ${kapnev}" th:text="${kapnev[0]}" th:value="${kapnev[0]}"></option>-->
                                <option th:each="kapnev: ${kapnev1}" th:text="${kapnev[0]}" th:value="${kapnev[0]}"></option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-12">
                            <input type="submit" class="btn btn-info" ></input>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3 text-danger" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>
                    <div class="col-md-6 offset-md-3 text-success" th:text="${siker}">Siker</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>