<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rokoni kapcsolatok</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <h3 class="pt-5">Rokoni kapcsolatok</h3>

    <form th:action="@{/relatives/search}" method="get">
        <input type="text" name="keyword" placeholder="Find by Owner Name" size="50" >
        <input type="submit" class="btn btn-info" >Search</input>
    </form>


    <a th:href="@{/relatives/adatokfelvitele1}"
       type="button"
       class="btn btn-info">Új rokon hozzáadása</a>

    <a th:href="@{/relatives/kapcsolat1}"
       type="button"
       class="btn btn-info">Új kapcsolat hozzáadása</a>

</div>

<div>
    <form th:action="@{/relatives/persistMessage}" method="post">
        <textarea name="msg" cols="40" rows="2"></textarea>
        <br> <input type="submit" value="Save Message" />
    </form>
</div>
<div>
    <h2>Messages</h2>
    <ul th:each="message : ${sessionMessages}">
        <li th:text="${message[0]}">msg</li>
    </ul>
</div>
<div>
    <form th:action="@{/relatives/destroy}" method="post">
        <input type="submit" value="Destroy Session" />
    </form>
</div>


<script>

</script>

</body>
</html>